.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;   // <weight>: Use a value from 100 to 900
  font-style: normal;
}

.el-messiri {
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;   // <weight>: Use a value from 400 to 700
  font-style: normal;
}