// ---------- colors -----------

$bg: #0A0F12;
$text: white;
$primary: #E49C73;
$hover: #92654a;
$secondary: #6BA1D0;

$orange: #E49C73;
$blue: #6BA1D0;
$black: #0A0F12;
$white: white;
$gray: #696969;