//- a.logo(href='https://planeta-igr.com/ua/') 
a.logo(href='#') 
  img(src="assets/images/logo.svg", alt="Logo") 

nav.nav
  ul
    li
      a(href='https://planeta-igr.com/ua/') Головна
    li
      a(href='#order') Купити 
    li
      a(href='#items') Вміст&nbsp;гри 
    li
      a(href='#rules') Правила 
    li
      a(href='#delivery') Виробництво 
    li
      a(href='#bulk-orders') Гурт 
    li
      a(href='#contact') Контакти 

.header_contact 
    a.phone(href="tel:0504891020") 
      span.phone__img
        img(src="assets/images/icon_phone.svg", alt="Phone") 
      span.phone__number 050&nbsp;489&#8209;10&#8209;20
    .social 
      a(href='https://www.instagram.com/planetaigrcom/') 
        img(src="assets/images/icon_instagram.svg", alt="instagram") 
      a(href='https://www.tiktok.com/@planetaigrcom') 
        img(src="assets/images/icon_tiktok.svg", alt="tiktok") 
      a(href='https://www.facebook.com/planetaigr/') 
        img(src="assets/images/icon_facebook.svg", alt="facebook") 
      a(href='https://t.me/joinchat/AAAAAFcZ0PUDr8su7vFKOA') 
        img(src="assets/images/icon_telegram.svg", alt="telegram") 
