.block_map
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5495.01787650552!2d30.729831000000004!3d46.478234!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63190403ca76d%3A0x87353773ecb48830!2z0J_Qu9Cw0L3QtdGC0LAg0ZbQs9C-0YA!5e0!3m2!1suk!2sus!4v1743252941519!5m2!1suk!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

