.slider__wrapper
  .slider
    .slide
      img(data-lazy="assets/images/video_1.webp", alt="Video")
      .caption_blue Watch It Played
      button.btn-play 
    .slide
      img(data-lazy="assets/images/video_2.webp", alt="Video")
      .caption_blue Watch It Played
      button.btn-play 
    .slide
      img(data-lazy="assets/images/video_3.webp", alt="Video")
      .caption_blue The Dice Tower
      button.btn-play 
    .slide
      img(data-lazy="assets/images/video_4.webp", alt="Video")
      .caption_blue The Dice Tower
      button.btn-play 
    .slide
      img(data-lazy="assets/images/video_5.webp", alt="Video")
      .caption_blue The Discriminating Gamer
      button.btn-play 
    .slide
      img(data-lazy="assets/images/video_6.webp", alt="Video")
      .caption_blue TheGameBoyGeek - Hi Quality Hi Energy Board Game Reviews
      button.btn-play 
    .slide
      img(data-lazy="assets/images/video_7.webp", alt="Video")
      .caption_blue Man Vs Meeple
      button.btn-play 