.slider_wrapper
  .slider
    .slide
      .slide_screen(data-video="https://www.youtube.com/embed/E5CaNOzDP1A?si=KSCwrJQCotU5nosN")
        img.slide_img(data-lazy="assets/images/video_1.webp", alt="Video")
      .caption_blue Watch It Played
      button.btn-play 
    .slide
      .slide_screen(data-video="https://www.youtube.com/embed/mVz43Sb4NwM?si=lGcvpefo1-oYM0DW")
        img.slide_img(data-lazy="assets/images/video_2.webp", alt="Video")
      .caption_blue Watch It Played
      button.btn-play 
    .slide
      .slide_screen(data-video="https://www.youtube.com/embed/1Tod0dMSp-w?si=An7Ii_CqoVTpGVgP")
        img.slide_img(data-lazy="assets/images/video_3.webp", alt="Video")
      .caption_blue The Dice Tower
      button.btn-play 
    .slide
      .slide_screen(data-video="https://www.youtube.com/embed/n2dl27XP1HI?si=XnnM3hA9mAGsJzUW")
        img.slide_img(data-lazy="assets/images/video_4.webp", alt="Video")
      .caption_blue The Dice Tower
      button.btn-play 
    .slide
      .slide_screen(data-video="https://www.youtube.com/embed/BGMPSU-B8AU?si=Ulq1a9NsGs3CdN4O")
        img.slide_img(data-lazy="assets/images/video_5.webp", alt="Video")
      .caption_blue The Discriminating Gamer
      button.btn-play 
    .slide
      .slide_screen(data-video="https://www.youtube.com/embed/_4Rz200Fi6Q?si=_3HENdydC5m92QST")
        img.slide_img(data-lazy="assets/images/video_6.webp", alt="Video")
      .caption_blue TheGameBoyGeek - Hi Quality Hi Energy Board Game Reviews
      button.btn-play 
    .slide
      .slide_screen(data-video="https://www.youtube.com/embed/ZCkxWKZ5lBw?si=IIJ9DtdyjgH1qHyr")
        img.slide_img(data-lazy="assets/images/video_7.webp", alt="Video")
      .caption_blue Man Vs Meeple
      button.btn-play 